/* Layout Geral */

@import 'variables.css';

.app-root {
    display: flex;
    min-height: 100vh;
}

.content-area {
    flex: 1;
    background: #f0f0f0;
}

/* Responsividade Básica */
@media (max-width: 900px) {
    .sidebar { display: none; }
    .portal-teacher { display: none; }
}